<html>
<head>
	<script type="text/javascript" src="jquery-latest.min.js"></script>
	<script type="text/javascript" src="rpmmon.js"></script>
	<link rel="stylesheet" href="rpmmon.css">
</head>
<body>	<div id="header_information">
		<button type="button" id="reset">Reset DBs</button>
	</div>
	<div id="rpm_overview">
	</div>
</body>
</html>
